name: common-ci-cd
on:
  workflow_call:
    inputs:
      project:
        required: true
        type: string
      component:
        required: true
        type: string
      app_type:
        required: true
        type: string
jobs:
  ci: # job-name
    runs-on: self-hosted
    outputs:
      appVersion: ${{ steps.package-version.outputs.version }}
    steps:
    - name: checkout code
      uses: actions/checkout@v6
    - name: check the files
      run: ls -l
    - name: print inputs
      run: echo "Project is ${{ input.project }}"
    - name: Get app version
      id: package-version
      run: echo "version=$(jq -r '.version' package.json)" >> "$GITHUB_OUTPUT"
    - name: print app version
      run: echo ${{ steps.package-version.output.version }}
    - name: install dependencies
      run: npm install
    - name: docker build
      run: docker build -t 160885265516.dkr.ecr.us-east-1.amazonaws.com/${{ inputs.project }}/${{ inputs.component }}:${{ steps.package-version.outputs.version }} .
    - name: Configure AWS Credentials 2
      uses: aws-actions/configure-aws-credentials@v6.0.0
      with:
        aws-region: us-east-1
        aws-access-key-id: ${{ steps.creds.outputs.aws-access-key-id }}
        aws-secret-access-key: ${{ steps.creds.outputs.aws-secret-access-key }}